.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
  }

.image-box {
    width: 100%;
    position: relative;
}

.col-6 {
    display: inline-block;
}

.office.overlay:hover  {
    opacity: 1;
    width: 45%;
}
